.content
  %header SPONSORS
  .text This conference wouldn't be held without the support of our amazing sponsors. They have been with us since the beginning and showcasing them and their products is the least we can do for their support toward the Ruby community. We love them for supporting Ruby and making this conference possible.
  .title GAIA
  #gaia
    .wrapper
      .arrow-block.img= image_tag "skroutz-big.png"
      .right-text-block Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant digital brand which operates the leading price comparison engine in Greece Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding 
    .wrapper
      .text-block Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant digital brand which operates the leading price comparison engine in Greece Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding 
      .right-arrow-block.img= image_tag "garage-big.png"
  .title HELIOS
  .helios
    %ul.grid
      %li
        .block.img= image_tag "persado.png"
        .text Founded in 2005 com mitted to modern software development actively creating bleeding edge ecommerce offerings and high operates the leading price comparison engine in
      %li
        .block.img= image_tag "workable.png"
        .text Founded in 2005 com mitted to modern software development actively creating bleeding edge ecommerce offerings and high operates the leading price comparison engine in
      %li
        .block.img= image_tag "persado.png"
        .text Founded in 2005 com mitted to modern software development actively creating bleeding edge ecommerce offerings and high operates the leading price comparison engine in
      %li
        .block.img= image_tag "workable.png"
        .text Founded in 2005 com mitted to modern software development actively creating bleeding edge ecommerce offerings and high operates the leading price comparison engine in
  .title SELENE
  %ul.selene-grid
    %li
      .container= image_tag "github-big.png"
    %li
      .container= image_tag "heroku-big.png"
    %li
      .container= image_tag "workable.png"
    %li
      .container= image_tag "persado.png"
    %li
      .container= image_tag "persado.png"
    %li
      .container= image_tag "workable.png"
    %li
      .container= image_tag "heroku-big.png"
    %li
      .container= image_tag "github-big.png"
  .title APHRODITE
  %ul.aphrodite
    %li
      .container= image_tag "skroutz-small.png"
    %li
      .container
        .garage= image_tag "garage-small.png"
    %li
      .container
        .workable= image_tag "workable-small.png"
    %li
      .container= image_tag "persado-small.png"
    %li
      .container= image_tag "heroku-small.png"
    %li
      .container= image_tag "github.png"
    %li
      .container= image_tag "skroutz-small.png"
    %li
      .container
        .garage= image_tag "garage-small.png"
    %li
      .container
        .workable= image_tag "workable-small.png"
    %li
      .container= image_tag "persado-small.png"
    %li
      .container= image_tag "heroku-small.png"
    %li
      .container= image_tag "github.png"
  .title ADDITIONAL SPONSORS
  .helios
    %ul.grid.additional
      %li
        .block PARTY
        .text.img= image_tag "github-big.png"
      %li
        .block INTERNET UPLINK
        .text.img= image_tag "github-big.png"
      %li
        .block PARTY
        .text.img= image_tag "github-big.png"
      %li
        .block INTERNET UPLINK
        .text.img= image_tag "github-big.png"

