#main
  = render "main"
%nav
  = render "nav"
#livestream
  = render "livestream"
#about 
  = render "about"
#speakers
  = render "speakers"
#tickets
  = render "tickets"
#schedule
  = render "schedule"
#party
  = render "party"
#venue
  = render "venue"
#guide
  = render "guide"
#sponsors
  = render "sponsors"
#contacts
  = render "contacts"